In [ ]:
import pandas as pd 
import numpy  as np

In [ ]:
# String problem
titanic = pd.read_csv('titanic.csv')
# find lastnames with start and end character vowel
titanic[titanic['lastname'].str.contains('^[^aeiouAEIOU].+[^aeiouAEIOU]$')]
titanic

In [ ]:
# making Datetime series By numpy 
date = np.array('2024-01-06', dtype = np.datetime64)
pd.Series(date + np.arange(12))

In [ ]:
# editing values
y = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 19])
y[0:3] = [100, 90, 50]
y

In [ ]:
# membership operator
movies = pd.read_csv('bollywood.csv', index_col='movie')
'2 States (2014 film)' in movies

In [ ]:
# astype ,# between, # clip
# drop_duplicates drop_duplicates(keep='last'/'First')
# isnull
# dropna
# fillna
# isin
# apply  = subs.apply(lambda x:'good day' if x > subs.mean() else 'bad day')
# copy

In [ ]:
students.rename(columns={'marks':'percent','package':'lpa'},inplace=True)

In [ ]:
# rank(series)
batsman = pd.read_csv('batsman_runs_ipl.csv')
batsman.head()
batsman['batting_rank'] = batsman['batsman_run'].rank(ascending=False)
batsman.sort_values('batting_rank')

In [ ]:
students.dropna(how='any')
students.dropna(subset=['name','college'])

In [ ]:
genres = movies.groupby('Genre')
# genres.first()
# genres.last()
genres.nth(6) # which number row want to see for each group

In [ ]:
# Totally represent a group
genres.get_group('Fantasy')
movies[movies['Genre'] == 'Fantasy']
genres.sample(2,replace=True)

In [ ]:
# agg method 
# passing dict : Acessing for each groups columns with my choice type data
movies.groupby('Star1').agg({
    'Runtime':['min', 'max'],
    'Gross':'max',
    'Metascore':['min', 'max']
})
# passing list : for every column of groups my choices data
genres.agg(['min','max','mean','sum'])

In [ ]:
def rank_movie(group):
  group['genre_rank'] = group['IMDB_Rating'].rank(ascending=False)
  return group
genres.apply(rank_movie)

In [ ]:
# looping on groups
# find the highest rated movie of each genre
df = pd.DataFrame(columns=movies.columns)
for group,data in genres:
  df = df.append(data[data['IMDB_Rating'] == data['IMDB_Rating'].max()])

df

In [ ]:
# find normalized IMDB rating group wise

def normal(group):
  group['norm_rating'] = (group['IMDB_Rating'] - group['IMDB_Rating'].min())/(group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
  return group

genres.apply(normal)


# short way
def rank_on(group):
    x = group['IMDB_Rating']
    group['new_rank'] = (x - x.min())/(x.max()-x.min())
    return group

genres.apply(rank_on)

In [ ]:
# 8. Print student name -> partner name for all enrolled students
# self join
students.merge(students,how='inner',left_on='partner',right_on='student_id')[['name_x','name_y']]

In [ ]:
# how to create multiindex object
# 1. pd.MultiIndex.from_tuples()
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ece',2019),('ece',2020),('ece',2021),('ece',2022)]
multiindex = pd.MultiIndex.from_tuples(index_val)
multiindex.levels[1]
# 2. pd.MultiIndex.from_product()
pd.MultiIndex.from_product([['cse','ece'],[2019,2020,2021,2022]])
multiindex

In [ ]:
df2 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0],
    ],
    index = [2019,2020,2021,2022],
    columns = pd.MultiIndex.from_product([['delhi','mumbai'],['avg_package','students']])
)
df2

In [ ]:
branch_df3 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0],
        [9,10,0,0],
        [11,12,0,0],
        [13,14,0,0],
        [15,16,0,0],
    ],
    index = multiindex,
    columns = pd.MultiIndex.from_product([['delhi','mumbai'],['avg_package','students']])
)

branch_df3
# multiple
branch_df3.iloc[0:5:2] # Default 
branch_df3.loc[('cse',2019):('ece',2020):2] # Actual
branch_df3.sort_index(level=0,ascending=[False])

# transopose rows to column and column to row
branch_df3.transpose()
# swap indexes
branch_df3.swaplevel(axis=0).unstack()

In [ ]:
confirm = confirm.melt(id_vars=['Province/State','Country/Region','Lat','Long'], var_name='Date', value_name='No_of death')
confirm

In [ ]:
df = sns.load_dataset('tips')
df.pivot_table(index='sex', columns='smoker', values='total_bill', aggfunc='sum')